# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
bun.lockb

# Build output
dist/
build/
.out/
.next/
.cache/
.vite/
coverage/
tmp/
temp/

# Env-bestanden
.env
.env.*
!dist.env  # voorbeeldbestand wel meesturen

# Logs
logs/
*.log

# Editor- en systeembestanden
.DS_Store
Thumbs.db

# VSCode / JetBrains
.vscode/
.idea/

# OS-specifiek
*.swp
*.swo

# Optional: voorkom per ongeluk uploads van media of grote bestanden
*.zip
*.tar
*.gz

# React Native / Expo
.expo/
.expo-shared/
android/
ios/

# Firebase / Tools
.firebase/
.firebaserc
functions/node_modules/

# Git zelf
.git/
.gitignore
