.tile {
    display: flex;
    max-width: 500px;   /* max 500px */
    width: 100%;        /* mag kleiner worden */
    margin: 20px auto;  /* verticale ruimte + horizontaal centreren */
    padding: 0 20px;    /* altijd wat binnenruimte aan de zijkanten */
    text-align: center;
    justify-content: center;
    box-sizing: border-box; /* zodat padding meetelt binnen de 100% breedte */
}

.tile img {
    max-width: 100%;      /* schaalt met de tile */
    height: auto;
    display: block;
    margin: 0 auto;       /* centreert de afbeelding binnen de tile */
    border-radius: 10px;
}

.tile-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.tile h2 {
    font-size: 2.5rem;
    margin: 8px 0;
}

.tile i {
    font-size: 1.6rem;
    padding: 25px 0;

}

.tile p {
    font-size: 1.6rem;
    padding: 0 35px;
}


