.footer {
    background-color: #111;
    color: white;
    padding: 40px 20px;
    font-size: 0.95rem;
    width: 100%;
    position: relative;
    z-index: 1;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-column h4 {
    text-align: center;
    font-weight: 200;
    color: var(--color-active-link);
    margin-bottom: 10px;
    font-size: 2rem;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-column ul li a {
    color: #ccc;
    font-size: 1.6rem;
}
.footer-column ul li a:hover {
    text-decoration: underline;
    color: var(--color-active-link);
}

.footer-bottom {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #444;
    font-size: 1.4rem;
    color: #aaa;
}

.footer small {
    font-size: var(--font-size-xs);
    color: var(--color-text-muted);
}

.footer a {
    color: inherit;
    text-decoration: underline;
}

.footer a:hover {
    color: var(--color-text-primary);
}
