header.inner-container {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space-6);
    background-color: black;
}

header.inner-container img {
    max-height: calc(var(--header-height) - 5px);
    width: auto;
    object-fit: contain;
    display: block;
}